<a href="https://colab.research.google.com/github/melanieminson/data-612/blob/master/Assignment05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 5      
(Chapter 6 & 7)

## Purpose:
This assignment is intended to help you do the following:       
1.	Differentiate between categorical and non-categorical variables
2.	Convert variables from one type to another
3.	Familiarize with strings

## Action Items:      
â€¢	Convert data
1. Work on your selected data set and covert a column of non-categorical type into a categorical type. 
2. Convert another column into a string type. 
3. Post your work on GitHub
4. Add a README file

In [6]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/HallOfFame.csv')

df.dtypes

playerID        object
yearID           int64
votedBy         object
ballots        float64
needed         float64
votes          float64
inducted        object
category        object
needed_note     object
dtype: object

In [7]:
df.head()

    playerID  yearID votedBy  ballots  ...  votes  inducted category needed_note
0   cobbty01    1936   BBWAA    226.0  ...  222.0         Y   Player         NaN
1   ruthba01    1936   BBWAA    226.0  ...  215.0         Y   Player         NaN
2  wagneho01    1936   BBWAA    226.0  ...  215.0         Y   Player         NaN
3  mathech01    1936   BBWAA    226.0  ...  205.0         Y   Player         NaN
4  johnswa01    1936   BBWAA    226.0  ...  189.0         Y   Player         NaN

[5 rows x 9 columns]

In [9]:
#Convert a variable to categorical

df['category'] = df['category'].astype('category')

df.dtypes

playerID         object
yearID            int64
votedBy          object
ballots         float64
needed          float64
votes           float64
inducted         object
category       category
needed_note      object
dtype: object

In [10]:
#Convert a variable to a string

df['yearID'] = df['yearID'].astype(str)

df.dtypes

playerID         object
yearID           object
votedBy          object
ballots         float64
needed          float64
votes           float64
inducted         object
category       category
needed_note      object
dtype: object