<a href="https://colab.research.google.com/github/melanieminson/data-612/blob/master/Assignment06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 6      
(Chapter 8 & 9)

## Purpose:     
This assignment is intended to help you do the following:     
1.	Advance your knowledge on working with strings
2.	Familiarize with regular expression
3.	Use of functions and .apply()

## Action Items:       
•	Working with strings.
1. Clean a column on your data set using 
regular expression methods.      
2. Store the cleaned column into another column of your data set and call it “your_col_name_cleaned”.     

  *Another data set will be provided if your data set is not appropriate to apply regular expression methods.        

•	Use of .apply() 

1.   Create a function that returns the mean, sum, mode, median, and range (separately)      
2.   Run the function into your chosen data set using the .apply() method.     
3.   Post your work on GitHub

Working with Strings

In [30]:
#1.
import pandas as pd
import re

df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/Parks.csv')
df.head()

  park.key                      park.name  ... state country
0    ALB01                 Riverside Park  ...    NY      US
1    ALT01                  Columbia Park  ...    PA      US
2    ANA01       Angel Stadium of Anaheim  ...    CA      US
3    ARL01              Arlington Stadium  ...    TX      US
4    ARL02  Rangers Ballpark in Arlington  ...    TX      US

[5 rows x 6 columns]

In [31]:
df.dtypes

park.key      object
park.name     object
park.alias    object
city          object
state         object
country       object
dtype: object

In [32]:
df['park.alias'] = df['park.alias'].astype(str)

df.dtypes

park.key      object
park.name     object
park.alias    object
city          object
state         object
country       object
dtype: object

In [39]:
search = []    
for values in df['park.alias']:
    search.append(re.search(r'.+?(?=\;)', values))
s = search
df['park.alias_cleaned'] = s

df.head()

  park.key  ...                                 park.alias_cleaned
0    ALB01  ...                                               None
1    ALT01  ...                                               None
2    ANA01  ...  <_sre.SRE_Match object; span=(0, 12), match='E...
3    ARL01  ...                                               None
4    ARL02  ...  <_sre.SRE_Match object; span=(0, 25), match='T...

[5 rows x 7 columns]

Use of .apply()

In [62]:
import pandas as pd

df2 = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/Salaries.csv')
df2.head()

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

In [63]:
df2.dtypes

yearID       int64
teamID      object
lgID        object
playerID    object
salary       int64
dtype: object

In [97]:
import statistics
from statistics import mean
import numpy as np

def my_stats(col):

  mean.x = statistics.mean(col[5])
  sum.x = np.sum(col[5])
  mode.x = statistics.mode(col[5])
  median.x = statistics.median(col[5])
  range.x = range(col[5])

  return ("Mean: ", mean.x, 
          " Sum: ", sum.x, 
          " Mode: ", mode.x, 
          " Median: ", median.x, 
          " Range: ", range.x)

In [96]:
print(df2.apply(my_stats))

TypeError: ignored