<a href="https://colab.research.google.com/github/melanieminson/data-612/blob/master/Assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 1

## Purpose:      
This assignment is intended to help you do the following:       
1.	Open a GitHub account for your own use and for your career advancement (if you already do not have one).     
2.	Submit information and code in GitHub following best practices from the Udacity course.     
3.	Explore a dataset thoroughly.      
4.	Find and print descriptive information from the dataset.

## Action Items:           
Open a GitHub account to submit your work. If you are new to GitHub, follow the videos and instructions on the following link to understand how to post things on GitHub and start your own account. https://blog.udacity.com/2015/06/a-beginners-git-github-tutorial.html and/or https://guides.github.com/activities/hello-world/     

1.   Select the dataset of your choice from the list 
provided <a href="https://github.com/frankData612/data_612">here.</a>   
2.   Load the dataset using Jupyter notebook and explore the data by using the following.


-	Show the .head() and .tail() of the data set. Specify the number of rows to print using .head() and .tail().      
-	Print the column names.      
-	Print to see what is the type of your data set    
-	Check number of rows and columns.
-	Use groupby() and find the mean on your selected colum/s.
-	Add a README file in GitHub where you explain everything you did.

In [8]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/AllstarFull.csv')

df.head()

    playerID  yearID  gameNum        gameID teamID lgID  GP  startingPos
0  gomezle01  1933.0      0.0  ALS193307060    NYA   AL   1          1.0
1  ferreri01  1933.0      0.0  ALS193307060    BOS   AL   1          2.0
2  gehrilo01  1933.0      0.0  ALS193307060    NYA   AL   1          3.0
3  gehrich01  1933.0      0.0  ALS193307060    DET   AL   1          4.0
4  dykesji01  1933.0      0.0  ALS193307060    CHA   AL   1          5.0

In [9]:
df.tail()

       playerID  yearID  gameNum        gameID teamID lgID  GP  startingPos
5370  sorokmi01  2019.0      0.0  ALS201907090    ATL   NL   1          NaN
5371  storytr01  2019.0      0.0  ALS201907090    COL   NL   1          NaN
5372  woodrbr01  2019.0      0.0  ALS201907090    MIL   NL   1          NaN
5373  yateski01  2019.0      0.0  ALS201907090    SDN   NL   0          NaN
5374  bailean01     NaN      NaN           NaN    OAK   AL   0          NaN

In [10]:
df.head(3)

    playerID  yearID  gameNum        gameID teamID lgID  GP  startingPos
0  gomezle01  1933.0      0.0  ALS193307060    NYA   AL   1          1.0
1  ferreri01  1933.0      0.0  ALS193307060    BOS   AL   1          2.0
2  gehrilo01  1933.0      0.0  ALS193307060    NYA   AL   1          3.0

In [11]:
df.tail(8)

       playerID  yearID  gameNum        gameID teamID lgID  GP  startingPos
5367  riverfe01  2019.0      0.0  ALS201907090    PIT   NL   0          NaN
5368  scherma01  2019.0      0.0  ALS201907090    WSN   NL   0          NaN
5369  smithwi04  2019.0      0.0  ALS201907090    SFN   NL   1          NaN
5370  sorokmi01  2019.0      0.0  ALS201907090    ATL   NL   1          NaN
5371  storytr01  2019.0      0.0  ALS201907090    COL   NL   1          NaN
5372  woodrbr01  2019.0      0.0  ALS201907090    MIL   NL   1          NaN
5373  yateski01  2019.0      0.0  ALS201907090    SDN   NL   0          NaN
5374  bailean01     NaN      NaN           NaN    OAK   AL   0          NaN

In [12]:
df.columns

Index(['playerID', 'yearID', 'gameNum', 'gameID', 'teamID', 'lgID', 'GP',
       'startingPos'],
      dtype='object')

In [13]:
df.dtypes

playerID        object
yearID         float64
gameNum        float64
gameID          object
teamID          object
lgID            object
GP               int64
startingPos    float64
dtype: object

In [14]:
df.shape

(5375, 8)

In [16]:
df.groupby('yearID')['gameNum'].mean()

yearID
1933.0    0.0
1934.0    0.0
1935.0    0.0
1936.0    0.0
1937.0    0.0
         ...
2015.0    0.0
2016.0    0.0
2017.0    0.0
2018.0    0.0
2019.0    0.0
Name: gameNum, Length: 87, dtype: float64