<a href="https://colab.research.google.com/github/melanieminson/data-612/blob/master/Assignment_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 7

## Purpose          
This assignment is intended to help you do the following:      
  - Groupby operations to aggregate, transform, and filter data      
  - Built-in and custom user functions to perform groupby operations

## About the assignment

The function 'get_data_table' takes 4 parameters, df, date_col, group_col, type_x.      
  - The 'df' represents the dataframe.      
  -The 'date_col' represents the date column.      
  -The group_col represents the column to groupby and        
  -The 'type_x' represents the column with a specific value/category == 'type_x'.

In [11]:
def get_data_table(df, date_col, group_col, type_x):
    df_gross = (df.loc[(df.type == type_x) &
                                      df.category.isin(['category_x', 'category_xy', 'category_xyz'])
                                     ]
                         .groupby([group_col, date_col]).sum()
                         .unstack(date_col)['amount'].fillna(0)
                         .resample('M', axis=1).sum()
                        )

    df_recovered = (df.loc[(df.type == type_x) &
                                  df.category.isin(['category_01', 'category_05', 'category_07'])
                                 ]
                    .groupby([group_col, date_col]).sum()
                    .unstack(date_col)['amount'].fillna(0)
                    .resample('M', axis=1).sum()
                    )

    return df_gross.add(df_recovered * -1, fill_value=0)

## Tasks   
  1. Read the function above and in a 1-3 paragraphs explain its purpose    

  2. Apply the function to your selected dataframe and modify as needed based on your preferences.    

  3. Write 1-3 paragraphs to explain the differences or challenges when you applied the function to your chosen dataframe.

  4. Post your version of the above code on your GitHub account. Do not forget a README file with explanations.

1. >For df_gross, if the df.type is type_x & the df.category is either 'category_x',  'category_xy',  'category_xyz’, then the program will first group by the group_col and then by the date_col. Then it will unstack the date_col and fill missing values for the ‘amount’ with zero. Then the dataframe is resampled by month (columns) in the resample step. The sum of the resampled dataframe is then returned.
>>
For df_recovered, if the df.type is type_x & the df.category is either 'category_01', 'category_05', 'category_07', then the program will first group by the group_col and then by the date_col. Then it will unstack the date_col and fill missing values for the ‘amount’ with zero. Then the dataframe is resampled by month (columns) in the resample step. The sum of the resampled dataframe is then returned.
>>
For the get_data_table formula, the return value is df_gross.add(df_recovered * -1, fill_value=0). This means that the return value will be df_gross added to the negative of the corresponding value in df_recovered and missing values will be filled with zero.

In [33]:
#2.
import pandas as pd

dfs = pd.read_csv('https://raw.githubusercontent.com/melanieminson/data-612/master/Competition%20Training%20Set.csv')

dfs.dtypes

id                         int64
amount_tsh               float64
date_recorded             object
funder                    object
gps_height                 int64
installer                 object
longitude                float64
latitude                 float64
wpt_name                  object
num_private                int64
basin                     object
subvillage                object
region                    object
region_code                int64
district_code              int64
lga                       object
ward                      object
population                 int64
public_meeting            object
recorded_by               object
scheme_management         object
scheme_name               object
permit                    object
construction_year          int64
extraction_type           object
extraction_type_group     object
extraction_type_class     object
management                object
management_group          object
payment                   object
payment_type              object
water_quality             object
quality_group             object
quantity                  object
quantity_group            object
source                    object
source_type               object
source_class              object
waterpoint_type           object
waterpoint_type_group     object
dtype: object

In [34]:
dfs.head()

      id  amount_tsh  ...              waterpoint_type waterpoint_type_group
0  69572      6000.0  ...           communal standpipe    communal standpipe
1   8776         0.0  ...           communal standpipe    communal standpipe
2  34310        25.0  ...  communal standpipe multiple    communal standpipe
3  67743         0.0  ...  communal standpipe multiple    communal standpipe
4  19728         0.0  ...           communal standpipe    communal standpipe

[5 rows x 40 columns]

In [41]:
def get_data_table(df, date_col, group_col, type_x):
    df_gross = (df.loc[(df.type == type_x) ]
                         .groupby([group_col, date_col]).sum()
                         .unstack(date_col).fillna(0)
                         .resample('A', axis=1).sum()
                        )

    df_recovered = (df.loc[(df.type == type_x)]
                    .groupby([group_col, date_col]).sum()
                    .unstack(date_col).fillna(0)
                    .resample('A', axis=1).sum()
                    )

    return df_gross.add(df_recovered * -1, fill_value=0)

    get_data_table(dfs, dfs.construction_year, dfs.payment_type, int)

3.
>It was difficult for me to alter this function to the dataframe I'm analyzing (the competition dataframe) because I struggle with the concept of creating a function. At first, I imported my dataframe. I located a date column (construction_year) and another column I wanted to group by (payment_type) as well as a datatype to specify (int).
>>
I updated the function to not include specific categories. I changed the resample to look at yearly data, not monthly data. I left the fillna and fill_value values as zero. This will make entries with insufficient data easy to identify and extract, but other entries in this column are already entered as zero, making it easy to identify the rows with insufficient data as they will all have zero as their missing or invalid dates.
>>
Whenever I ran this function, it did not end up returning any values. I actually ended up changing my chosen variables for the function to try to make it work for my dataset, but was unsuccessful, though I had previously encountered syntax errors throughout my alterations of the funtion and now no errors are returned. I'm confident that the syntax is correct, but I believe there are no values that satisfy the function within my dataframe.