<a href="https://colab.research.google.com/github/melanieminson/data-612/blob/master/Assignment04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 4      
(Chapter 4 & 5)

## Purpose:         
This assignment is intended to help you do the following:
1.	Familiarize with merging datasets together
2.	Learn how to identify missing data from a dataset
3.	Handle the missing data from the dataset

## Action Items:
â€¢	Merge other data to your selected data set.    
1. Find another data set, series, text data or a column from another data source and merge with your selected data set.      
2. Identify the missing values on your data set. Count the missing values on your data set and then clean your data set from the missing values.       
3. Post your work on GitHub     
4. Add a README

In [12]:
import pandas as pd

df1 = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/AllstarFull.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/AwardsPlayers.csv')

df1.head()

    playerID  yearID  gameNum        gameID teamID lgID  GP  startingPos
0  gomezle01  1933.0      0.0  ALS193307060    NYA   AL   1          1.0
1  ferreri01  1933.0      0.0  ALS193307060    BOS   AL   1          2.0
2  gehrilo01  1933.0      0.0  ALS193307060    NYA   AL   1          3.0
3  gehrich01  1933.0      0.0  ALS193307060    DET   AL   1          4.0
4  dykesji01  1933.0      0.0  ALS193307060    CHA   AL   1          5.0

In [13]:
df2.head()

    playerID                awardID  yearID lgID  tie notes
0   bondto01  Pitching Triple Crown    1877   NL  NaN   NaN
1  hinespa01           Triple Crown    1878   NL  NaN   NaN
2  heckegu01  Pitching Triple Crown    1884   AA  NaN   NaN
3  radboch01  Pitching Triple Crown    1884   NL  NaN   NaN
4  oneilti01           Triple Crown    1887   AA  NaN   NaN

In [14]:
concat = pd.concat([df1, df2], axis=1, join='inner')

print(concat)

       playerID  yearID  gameNum        gameID  ... yearID lgID  tie  notes
0     gomezle01  1933.0      0.0  ALS193307060  ...   1877   NL  NaN    NaN
1     ferreri01  1933.0      0.0  ALS193307060  ...   1878   NL  NaN    NaN
2     gehrilo01  1933.0      0.0  ALS193307060  ...   1884   AA  NaN    NaN
3     gehrich01  1933.0      0.0  ALS193307060  ...   1884   NL  NaN    NaN
4     dykesji01  1933.0      0.0  ALS193307060  ...   1887   AA  NaN    NaN
...         ...     ...      ...           ...  ...    ...  ...  ...    ...
5370  sorokmi01  2019.0      0.0  ALS201907090  ...   2005   NL  NaN    NaN
5371  storytr01  2019.0      0.0  ALS201907090  ...   2005   AL  NaN     1B
5372  woodrbr01  2019.0      0.0  ALS201907090  ...   2005   AL  NaN     2B
5373  yateski01  2019.0      0.0  ALS201907090  ...   2005   AL  NaN     3B
5374  bailean01     NaN      NaN           NaN  ...   2005   AL  NaN      C

[5375 rows x 14 columns]

In [15]:
concat.isna().sum()

playerID          0
yearID            1
gameNum           1
gameID           50
teamID            0
lgID              0
GP                0
startingPos    3684
playerID          0
awardID           0
yearID            0
lgID              0
tie            5336
notes          1186
dtype: int64

In [0]:
# I am choosing now to drop the startingPos, tie, and notes columns. They hold a considerable amount of null values and do not add value to analysis. 

concat1 = concat.drop(['startingPos','tie','notes'], axis=1)

In [19]:
concat1.isna().sum()

playerID     0
yearID       1
gameNum      1
gameID      50
teamID       0
lgID         0
GP           0
playerID     0
awardID      0
yearID       0
lgID         0
dtype: int64

In [22]:
# I am now choosing to remove rows with NaN values. As there are only 50 lines that will be dropped and thousands of lines remaining, 
# I believe this will add the most value to data analysis.

concat2 = concat1.dropna()

concat2.isna().sum()

playerID    0
yearID      0
gameNum     0
gameID      0
teamID      0
lgID        0
GP          0
playerID    0
awardID     0
yearID      0
lgID        0
dtype: int64